In [3]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns

In [31]:
clean_df = pd.read_csv("../data/clean/clean_summer_df_events.csv")

In [33]:
country_df = pd.read_csv("../data/raw/country_table.csv") 
event_df = pd.read_csv("../data/raw/event_table.csv")

In [35]:
clean_df.head()

,Unnamed: 0,host_country,game_year,event,medal_type,athlete_country
0,0,japan,2020,shooting - 50m rifle 3 positions women,silver,roc
1,1,japan,2020,shooting - 50m rifle 3 positions women,bronze,roc
2,2,japan,2020,shooting - 50m rifle 3 positions women,gold,switzerland
3,3,japan,2020,shooting - 50m rifle 3 positions men,bronze,serbia
4,4,japan,2020,shooting - 50m rifle 3 positions men,gold,china

In [37]:
country_df.head()

  country_name      continent hemisphere
0  afghanistan           asia   northern
1      albania         europe   northern
2      algeria         africa   northern
3    argentina  south america   southern
4      armenia           asia   northern

In [39]:
merged_df = clean_df.merge(country_df, left_on="athlete_country", right_on="country_name", how = 'left').reset_index(drop=True)

merged_df.head()

,Unnamed: 0,host_country,game_year,event,medal_type,athlete_country,country_name,continent,hemisphere
0,0,japan,2020,shooting - 50m rifle 3 positions women,silver,roc,roc,"europe, asia",northern
1,1,japan,2020,shooting - 50m rifle 3 positions women,bronze,roc,roc,"europe, asia",northern
2,2,japan,2020,shooting - 50m rifle 3 positions women,gold,switzerland,switzerland,europe,northern
3,3,japan,2020,shooting - 50m rifle 3 positions men,bronze,serbia,serbia,europe,northern
4,4,japan,2020,shooting - 50m rifle 3 positions men,gold,china,china,asia,northern

In [41]:
event_df.head()

                                              event discipline sub-discipline
0                      archery - women's individual    archery        archery
1                        archery - men's individual    archery        archery
2              archery - individual competition men    archery        archery
3            archery - individual competition women    archery        archery
4  archery - individual fita olympic round  70m men    archery        archery

In [43]:
merged_df = merged_df.merge(event_df, left_on="event", right_on="event", how = 'left').reset_index(drop=True)

merged_df.head()

,Unnamed: 0,host_country,game_year,event,medal_type,athlete_country,country_name,continent,hemisphere,discipline,sub-discipline
0,0,japan,2020,shooting - 50m rifle 3 positions women,silver,roc,roc,"europe, asia",northern,shooting,shooting
1,1,japan,2020,shooting - 50m rifle 3 positions women,bronze,roc,roc,"europe, asia",northern,shooting,shooting
2,2,japan,2020,shooting - 50m rifle 3 positions women,gold,switzerland,switzerland,europe,northern,shooting,shooting
3,3,japan,2020,shooting - 50m rifle 3 positions men,bronze,serbia,serbia,europe,northern,shooting,shooting
4,4,japan,2020,shooting - 50m rifle 3 positions men,gold,china,china,asia,northern,shooting,shooting

In [45]:
merged_df.columns

Index(['Unnamed: 0', 'host_country', 'game_year', 'event', 'medal_type',
       'athlete_country', 'country_name', 'continent', 'hemisphere',
       'discipline', 'sub-discipline'],
      dtype='object')

In [47]:
merged_df = merged_df[['host_country', 'game_year', 'event', 'medal_type',
       'athlete_country', 'continent', 'hemisphere',
       'discipline', 'sub-discipline']]

In [53]:
merged_df = merged_df.rename(columns={'continent': 'athlete_continent', 'hemisphere': 'athlete_hemisphere'})

merged_df.head()

,host_country,game_year,event,medal_type,athlete_country,athlete_continent,athlete_hemisphere,discipline,sub-discipline
0,japan,2020,shooting - 50m rifle 3 positions women,silver,roc,"europe, asia",northern,shooting,shooting
1,japan,2020,shooting - 50m rifle 3 positions women,bronze,roc,"europe, asia",northern,shooting,shooting
2,japan,2020,shooting - 50m rifle 3 positions women,gold,switzerland,europe,northern,shooting,shooting
3,japan,2020,shooting - 50m rifle 3 positions men,bronze,serbia,europe,northern,shooting,shooting
4,japan,2020,shooting - 50m rifle 3 positions men,gold,china,asia,northern,shooting,shooting

In [55]:
merged_df = merged_df.merge(country_df, left_on="host_country", right_on="country_name", how = 'left').reset_index(drop=True)

merged_df.head()

,host_country,game_year,event,medal_type,athlete_country,athlete_continent,athlete_hemisphere,discipline,sub-discipline,country_name,continent,hemisphere
0,japan,2020,shooting - 50m rifle 3 positions women,silver,roc,"europe, asia",northern,shooting,shooting,japan,asia,northern
1,japan,2020,shooting - 50m rifle 3 positions women,bronze,roc,"europe, asia",northern,shooting,shooting,japan,asia,northern
2,japan,2020,shooting - 50m rifle 3 positions women,gold,switzerland,europe,northern,shooting,shooting,japan,asia,northern
3,japan,2020,shooting - 50m rifle 3 positions men,bronze,serbia,europe,northern,shooting,shooting,japan,asia,northern
4,japan,2020,shooting - 50m rifle 3 positions men,gold,china,asia,northern,shooting,shooting,japan,asia,northern

In [59]:
merged_df = merged_df.rename(columns={'continent': 'host_continent', 'hemisphere': 'host_hemisphere'})

merged_df.drop(columns="country_name", inplace=True)

merged_df.head()

,host_country,game_year,event,medal_type,athlete_country,athlete_continent,athlete_hemisphere,discipline,sub-discipline,host_continent,host_hemisphere
0,japan,2020,shooting - 50m rifle 3 positions women,silver,roc,"europe, asia",northern,shooting,shooting,asia,northern
1,japan,2020,shooting - 50m rifle 3 positions women,bronze,roc,"europe, asia",northern,shooting,shooting,asia,northern
2,japan,2020,shooting - 50m rifle 3 positions women,gold,switzerland,europe,northern,shooting,shooting,asia,northern
3,japan,2020,shooting - 50m rifle 3 positions men,bronze,serbia,europe,northern,shooting,shooting,asia,northern
4,japan,2020,shooting - 50m rifle 3 positions men,gold,china,asia,northern,shooting,shooting,asia,northern

In [61]:
merged_df['is_host_country'] = merged_df['host_country'] == merged_df['athlete_country']
merged_df['is_host_continent'] = merged_df['host_continent'] == merged_df['athlete_continent']

merged_df.head()

,host_country,game_year,event,medal_type,athlete_country,athlete_continent,athlete_hemisphere,discipline,sub-discipline,host_continent,host_hemisphere,is_host_country,is_host_continent
0,japan,2020,shooting - 50m rifle 3 positions women,silver,roc,"europe, asia",northern,shooting,shooting,asia,northern,False,False
1,japan,2020,shooting - 50m rifle 3 positions women,bronze,roc,"europe, asia",northern,shooting,shooting,asia,northern,False,False
2,japan,2020,shooting - 50m rifle 3 positions women,gold,switzerland,europe,northern,shooting,shooting,asia,northern,False,False
3,japan,2020,shooting - 50m rifle 3 positions men,bronze,serbia,europe,northern,shooting,shooting,asia,northern,False,False
4,japan,2020,shooting - 50m rifle 3 positions men,gold,china,asia,northern,shooting,shooting,asia,northern,False,True

In [65]:
merged_df.columns

Index(['host_country', 'game_year', 'event', 'medal_type', 'athlete_country',
       'athlete_continent', 'athlete_hemisphere', 'discipline',
       'sub-discipline', 'host_continent', 'host_hemisphere',
       'is_host_country', 'is_host_continent'],
      dtype='object')

In [67]:
filt_df = merged_df[['game_year', 'event', 'medal_type', 'athlete_country',
       'athlete_continent', 'discipline',
       'sub-discipline', 'host_country', 'host_continent',
       'is_host_country', 'is_host_continent']]

filt_df.head()

,game_year,event,medal_type,athlete_country,athlete_continent,discipline,sub-discipline,host_country,host_continent,is_host_country,is_host_continent
0,2020,shooting - 50m rifle 3 positions women,silver,roc,"europe, asia",shooting,shooting,japan,asia,False,False
1,2020,shooting - 50m rifle 3 positions women,bronze,roc,"europe, asia",shooting,shooting,japan,asia,False,False
2,2020,shooting - 50m rifle 3 positions women,gold,switzerland,europe,shooting,shooting,japan,asia,False,False
3,2020,shooting - 50m rifle 3 positions men,bronze,serbia,europe,shooting,shooting,japan,asia,False,False
4,2020,shooting - 50m rifle 3 positions men,gold,china,asia,shooting,shooting,japan,asia,False,True