In [1]:
import pandas as pd

In [2]:
medals_df = pd.read_csv('../data/raw/olympic_medals.csv')
hosts_df = pd.read_csv('../data/raw/olympic_hosts.csv')
paris_df = pd.read_csv('../data/raw/paris_medallists.csv')

In [3]:
def clean_paris_duplicates(paris_df):
    condition = paris_df['event_type'].isin(['TEAM', 'HTEAM', 'HCOUP', 'COUP'])
    
    #Gets all team events and drops duplicates
    paris_df_filtered = paris_df[condition].drop_duplicates(
        subset=['medal_date', 'medal_type', 'medal_code', 'country_code', 'country', 
                'country_long', 'nationality_code', 'nationality', 'nationality_long'], 
        keep='first'
    )
    
    # Combines filtered team events with individual events
    paris_df_update = pd.concat([paris_df[~condition], paris_df_filtered])
    return(paris_df_update)

def clean_medal_duplicates(medals_df):
    condition = medals_df['participant_type'].isin(['GameTeam'])
    
    #Gets all team events and drops duplicates
    medals_df_filtered = medals_df[condition].drop_duplicates(
        subset=['discipline_title', 'slug_game', 'event_title', 'event_gender',
       'medal_type'], 
        keep='first'
    )
    
    # Combines filtered team events with individual events
    medals_df_update = pd.concat([medals_df[~condition], medals_df_filtered])
    return(medals_df_update)

In [4]:
medals_df.head()

,discipline_title,slug_game,event_title,event_gender,medal_type,participant_type,participant_title,athlete_url,athlete_full_name,country_name,country_code,country_3_letter_code
0,Curling,beijing-2022,Mixed Doubles,Mixed,GOLD,GameTeam,Italy,https://olympics.com/en/athletes/stefania-cons...,Stefania CONSTANTINI,Italy,IT,ITA
1,Curling,beijing-2022,Mixed Doubles,Mixed,GOLD,GameTeam,Italy,https://olympics.com/en/athletes/amos-mosaner,Amos MOSANER,Italy,IT,ITA
2,Curling,beijing-2022,Mixed Doubles,Mixed,SILVER,GameTeam,Norway,https://olympics.com/en/athletes/kristin-skaslien,Kristin SKASLIEN,Norway,NO,NOR
3,Curling,beijing-2022,Mixed Doubles,Mixed,SILVER,GameTeam,Norway,https://olympics.com/en/athletes/magnus-nedreg...,Magnus NEDREGOTTEN,Norway,NO,NOR
4,Curling,beijing-2022,Mixed Doubles,Mixed,BRONZE,GameTeam,Sweden,https://olympics.com/en/athletes/almida-de-val,Almida DE VAL,Sweden,SE,SWE

In [5]:
medals_df = clean_medal_duplicates(medals_df)

In [6]:
medals_df.tail()

,discipline_title,slug_game,event_title,event_gender,medal_type,participant_type,participant_title,athlete_url,athlete_full_name,country_name,country_code,country_3_letter_code
21632,Gymnastics Artistic,athens-1896,team parallel bars men,Men,BRONZE,GameTeam,Ethnikos Gymnastikos Syllogos #2,NaN,Filippos Karvelas,Greece,GR,GRE
21634,Gymnastics Artistic,athens-1896,team horizontal bar men,Men,GOLD,GameTeam,Germany team,NaN,NaN,Germany,DE,GER
21682,Tennis,athens-1896,doubles men,Men,GOLD,GameTeam,Mixed team #2,https://olympics.com/en/athletes/john-boland,John BOLAND,MIX,NaN,MIX
21684,Tennis,athens-1896,doubles men,Men,SILVER,GameTeam,Greece team #1,NaN,Demetrius Casdagli,Greece,GR,GRE
21686,Tennis,athens-1896,doubles men,Men,BRONZE,GameTeam,Mixed team #1,https://olympics.com/en/athletes/edwin-flack,Edwin FLACK,MIX,NaN,MIX

In [7]:
paris_df = clean_paris_duplicates(paris_df)

In [8]:
medals_df['participant_type'].value_counts()

participant_type
Athlete     15113
GameTeam     5071
Name: count, dtype: int64

In [9]:
columns_to_drop = ['discipline_title', 'event_title', 'participant_title', 'event_gender', 'athlete_url', 'athlete_full_name', 'country_code', 'country_3_letter_code']
medals_df.drop(columns_to_drop, axis=1, inplace=True)
medals_df.head()

       slug_game medal_type participant_type              country_name
12  beijing-2022     SILVER          Athlete                    Canada
13  beijing-2022       GOLD          Athlete                    Sweden
14  beijing-2022     BRONZE          Athlete                     Japan
15  beijing-2022       GOLD          Athlete               New Zealand
16  beijing-2022     SILVER          Athlete  United States of America

In [10]:
hosts_df.head()

,game_slug,game_end_date,game_start_date,game_location,game_name,game_season,game_year
0,beijing-2022,2022-02-20T12:00:00Z,2022-02-04T15:00:00Z,China,Beijing 2022,Winter,2022
1,tokyo-2020,2021-08-08T14:00:00Z,2021-07-23T11:00:00Z,Japan,Tokyo 2020,Summer,2020
2,pyeongchang-2018,2018-02-25T08:00:00Z,2018-02-08T23:00:00Z,Republic of Korea,PyeongChang 2018,Winter,2018
3,rio-2016,2016-08-21T21:00:00Z,2016-08-05T12:00:00Z,Brazil,Rio 2016,Summer,2016
4,sochi-2014,2014-02-23T16:00:00Z,2014-02-07T04:00:00Z,Russian Federation,Sochi 2014,Winter,2014

In [11]:
summer_hosts = hosts_df[hosts_df['game_season'] == 'Summer']

In [12]:
summer_hosts.head()

,game_slug,game_end_date,game_start_date,game_location,game_name,game_season,game_year
1,tokyo-2020,2021-08-08T14:00:00Z,2021-07-23T11:00:00Z,Japan,Tokyo 2020,Summer,2020
3,rio-2016,2016-08-21T21:00:00Z,2016-08-05T12:00:00Z,Brazil,Rio 2016,Summer,2016
5,london-2012,2012-08-12T19:00:00Z,2012-07-27T07:00:00Z,Great Britain,London 2012,Summer,2012
7,beijing-2008,2008-08-24T12:00:00Z,2008-08-08T00:00:00Z,China,Beijing 2008,Summer,2008
9,athens-2004,2004-08-29T18:00:00Z,2004-08-13T06:00:00Z,Greece,Athens 2004,Summer,2004

In [13]:
def create_country_column(slug):
    for i, host_slug in enumerate(hosts_df['game_slug']):
        if slug == host_slug:
            return hosts_df['game_location'].iloc[i]

def create_year_column(slug):
    for i, host_slug in enumerate(hosts_df['game_slug']):
        if slug == host_slug:
            return hosts_df['game_year'].iloc[i]

def create_season_column(slug):
    for i, host_slug in enumerate(hosts_df['game_slug']):
        if slug == host_slug:
            return hosts_df['game_season'].iloc[i]

In [14]:
df = medals_df.copy()

In [ ]:
df['host_country'] = medals_df['slug_game'].apply(create_country_column)
df['game_year'] = medals_df['slug_game'].apply(create_year_column)
df['game_season'] = medals_df['slug_game'].apply(create_season_column)
df = clean_medal_duplicates(df)

In [ ]:
df = df[df['game_season'] == 'Summer']
df = df[df['game_year'] >= 1920]
df.reset_index(drop=True, inplace=True)

In [ ]:
df.head()

In [ ]:
df.tail()

In [ ]:
df.isnull().values.any()

In [ ]:
df.drop(['slug_game', 'game_season'], axis=1, inplace=True)
df.head()

In [ ]:
paris_df.head()

In [ ]:
paris_df.columns

In [ ]:
tiny_paris_df = paris_df.drop(columns=['medal_date', 'medal_code', 'name', 'gender',
       'country_code', 'country_long', 'nationality_code',
       'nationality', 'nationality_long', 'team', 'team_gender', 'discipline',
       'event', 'event_type', 'url_event', 'birth_date', 'code_athlete',
       'code_team', 'is_medallist'])

In [ ]:
tiny_paris_df.head()

In [ ]:
def standardize_medal_type(medal):
    return medal.lower().strip().replace(' medal', '')

In [ ]:
tiny_paris_df['medal_type'] = tiny_paris_df['medal_type'].apply(standardize_medal_type)

In [ ]:
tiny_paris_df.head()

In [ ]:
tiny_paris_df['host_country'] = 'France'

In [ ]:
tiny_paris_df['game_year'] = 2024

In [ ]:
tiny_paris_df.head()

In [ ]:
def standardize_string(string):
    return string.lower().strip()

In [ ]:
tiny_paris_df['country'] = tiny_paris_df['country'].apply(standardize_string)
tiny_paris_df['host_country'] = tiny_paris_df['host_country'].apply(standardize_string)
tiny_paris_df.rename(columns={'country': 'athlete_country'}, inplace=True)

df['medal_type'] = df['medal_type'].apply(standardize_string)
df['host_country'] = df['host_country'].apply(standardize_string)
df['country_name'] = df['country_name'].apply(standardize_string)
df.rename(columns={'country_name': 'athlete_country'}, inplace=True)

In [ ]:
full_df = pd.concat([df, tiny_paris_df], ignore_index=True)
full_df.head()

In [ ]:
full_df.tail()

In [ ]:
full_df['athlete_country'].value_counts().head(20)

In [ ]:
full_df.to_csv('../data/clean/clean_summer_df.csv')