In [1]:
import pandas as pd

In [2]:
medals_df = pd.read_csv('./data/raw/olympic_medals.csv')
hosts_df = pd.read_csv('./data/raw/olympic_hosts.csv')
paris_df = pd.read_csv('./data/raw/paris_medallists.csv')

In [3]:
medals_df.head()

,discipline_title,slug_game,event_title,event_gender,medal_type,participant_type,participant_title,athlete_url,athlete_full_name,country_name,country_code,country_3_letter_code
0,Curling,beijing-2022,Mixed Doubles,Mixed,GOLD,GameTeam,Italy,https://olympics.com/en/athletes/stefania-cons...,Stefania CONSTANTINI,Italy,IT,ITA
1,Curling,beijing-2022,Mixed Doubles,Mixed,GOLD,GameTeam,Italy,https://olympics.com/en/athletes/amos-mosaner,Amos MOSANER,Italy,IT,ITA
2,Curling,beijing-2022,Mixed Doubles,Mixed,SILVER,GameTeam,Norway,https://olympics.com/en/athletes/kristin-skaslien,Kristin SKASLIEN,Norway,NO,NOR
3,Curling,beijing-2022,Mixed Doubles,Mixed,SILVER,GameTeam,Norway,https://olympics.com/en/athletes/magnus-nedreg...,Magnus NEDREGOTTEN,Norway,NO,NOR
4,Curling,beijing-2022,Mixed Doubles,Mixed,BRONZE,GameTeam,Sweden,https://olympics.com/en/athletes/almida-de-val,Almida DE VAL,Sweden,SE,SWE

In [4]:
columns_to_drop = ['discipline_title', 'event_title', 'event_gender', 'participant_type', 'participant_title', 'athlete_url', 'athlete_full_name', 'country_code', 'country_3_letter_code']
medals_df.drop(columns_to_drop, axis=1, inplace=True)
medals_df.head()

      slug_game medal_type country_name
0  beijing-2022       GOLD        Italy
1  beijing-2022       GOLD        Italy
2  beijing-2022     SILVER       Norway
3  beijing-2022     SILVER       Norway
4  beijing-2022     BRONZE       Sweden

In [5]:
hosts_df[hosts_df['game_season'] == 'Summer'].head()

,game_slug,game_end_date,game_start_date,game_location,game_name,game_season,game_year
1,tokyo-2020,2021-08-08T14:00:00Z,2021-07-23T11:00:00Z,Japan,Tokyo 2020,Summer,2020
3,rio-2016,2016-08-21T21:00:00Z,2016-08-05T12:00:00Z,Brazil,Rio 2016,Summer,2016
5,london-2012,2012-08-12T19:00:00Z,2012-07-27T07:00:00Z,Great Britain,London 2012,Summer,2012
7,beijing-2008,2008-08-24T12:00:00Z,2008-08-08T00:00:00Z,China,Beijing 2008,Summer,2008
9,athens-2004,2004-08-29T18:00:00Z,2004-08-13T06:00:00Z,Greece,Athens 2004,Summer,2004

In [6]:
def create_country_column(slug):
    for i, host_slug in enumerate(hosts_df['game_slug']):
        if slug == host_slug:
            return hosts_df['game_location'].iloc[i]

def create_year_column(slug):
    for i, host_slug in enumerate(hosts_df['game_slug']):
        if slug == host_slug:
            return hosts_df['game_year'].iloc[i]

In [7]:
df = medals_df.copy()

In [8]:
df['host_country'] = medals_df['slug_game'].apply(create_country_column)
df['game_year'] = medals_df['slug_game'].apply(create_year_column)

In [9]:
df.head()

      slug_game medal_type country_name host_country  game_year
0  beijing-2022       GOLD        Italy        China       2022
1  beijing-2022       GOLD        Italy        China       2022
2  beijing-2022     SILVER       Norway        China       2022
3  beijing-2022     SILVER       Norway        China       2022
4  beijing-2022     BRONZE       Sweden        China       2022

In [10]:
df.isnull().values.any()

False

In [11]:
df.drop('slug_game', axis=1, inplace=True)
df.head()

  medal_type country_name host_country  game_year
0       GOLD        Italy        China       2022
1       GOLD        Italy        China       2022
2     SILVER       Norway        China       2022
3     SILVER       Norway        China       2022
4     BRONZE       Sweden        China       2022

In [12]:
paris_df.head()

,medal_date,medal_type,medal_code,name,gender,country_code,country,country_long,nationality_code,nationality,...,team,team_gender,discipline,event,event_type,url_event,birth_date,code_athlete,code_team,is_medallist
0,2024-07-27,Gold Medal,1.0,EVENEPOEL Remco,Male,BEL,Belgium,Belgium,BEL,Belgium,...,NaN,NaN,Cycling Road,Men's Individual Time Trial,ATH,/en/paris-2024/results/cycling-road/men-s-indi...,2000-01-25,1903136,NaN,True
1,2024-07-27,Silver Medal,2.0,GANNA Filippo,Male,ITA,Italy,Italy,ITA,Italy,...,NaN,NaN,Cycling Road,Men's Individual Time Trial,ATH,/en/paris-2024/results/cycling-road/men-s-indi...,1996-07-25,1923520,NaN,True
2,2024-07-27,Bronze Medal,3.0,van AERT Wout,Male,BEL,Belgium,Belgium,BEL,Belgium,...,NaN,NaN,Cycling Road,Men's Individual Time Trial,ATH,/en/paris-2024/results/cycling-road/men-s-indi...,1994-09-15,1903147,NaN,True
3,2024-07-27,Gold Medal,1.0,BROWN Grace,Female,AUS,Australia,Australia,AUS,Australia,...,NaN,NaN,Cycling Road,Women's Individual Time Trial,ATH,/en/paris-2024/results/cycling-road/women-s-in...,1992-07-07,1940173,NaN,True
4,2024-07-27,Silver Medal,2.0,HENDERSON Anna,Female,GBR,Great Britain,Great Britain,GBR,Great Britain,...,NaN,NaN,Cycling Road,Women's Individual Time Trial,ATH,/en/paris-2024/results/cycling-road/women-s-in...,1998-11-14,1912525,NaN,True

In [13]:
paris_df.columns

Index(['medal_date', 'medal_type', 'medal_code', 'name', 'gender',
       'country_code', 'country', 'country_long', 'nationality_code',
       'nationality', 'nationality_long', 'team', 'team_gender', 'discipline',
       'event', 'event_type', 'url_event', 'birth_date', 'code_athlete',
       'code_team', 'is_medallist'],
      dtype='object')