In [22]:
import pandas as pd
import matplotlib as plt
import numpy as np

In [24]:
medals_df = pd.read_csv('../data/raw/olympic_medals.csv')
hosts_df = pd.read_csv('../data/raw/olympic_hosts.csv')
paris_df = pd.read_csv('../data/raw/paris_medallists.csv')

In [26]:
medals_df.head()

,discipline_title,slug_game,event_title,event_gender,medal_type,participant_type,participant_title,athlete_url,athlete_full_name,country_name,country_code,country_3_letter_code
0,Curling,beijing-2022,Mixed Doubles,Mixed,GOLD,GameTeam,Italy,https://olympics.com/en/athletes/stefania-cons...,Stefania CONSTANTINI,Italy,IT,ITA
1,Curling,beijing-2022,Mixed Doubles,Mixed,GOLD,GameTeam,Italy,https://olympics.com/en/athletes/amos-mosaner,Amos MOSANER,Italy,IT,ITA
2,Curling,beijing-2022,Mixed Doubles,Mixed,SILVER,GameTeam,Norway,https://olympics.com/en/athletes/kristin-skaslien,Kristin SKASLIEN,Norway,NO,NOR
3,Curling,beijing-2022,Mixed Doubles,Mixed,SILVER,GameTeam,Norway,https://olympics.com/en/athletes/magnus-nedreg...,Magnus NEDREGOTTEN,Norway,NO,NOR
4,Curling,beijing-2022,Mixed Doubles,Mixed,BRONZE,GameTeam,Sweden,https://olympics.com/en/athletes/almida-de-val,Almida DE VAL,Sweden,SE,SWE

In [28]:
columns_to_drop = ['event_title', 'participant_type', 'participant_title', 'athlete_url', 'athlete_full_name', 'country_code', 'country_3_letter_code']
medals_df.drop(columns_to_drop, axis=1, inplace=True)
medals_df.head()

medals_df.slug_game.unique()

array(['beijing-2022', 'tokyo-2020', 'pyeongchang-2018', 'rio-2016',
       'sochi-2014', 'london-2012', 'vancouver-2010', 'beijing-2008',
       'turin-2006', 'athens-2004', 'salt-lake-city-2002', 'sydney-2000',
       'nagano-1998', 'atlanta-1996', 'lillehammer-1994',
       'barcelona-1992', 'albertville-1992', 'seoul-1988', 'calgary-1988',
       'los-angeles-1984', 'sarajevo-1984', 'moscow-1980',
       'lake-placid-1980', 'montreal-1976', 'innsbruck-1976',
       'munich-1972', 'sapporo-1972', 'mexico-city-1968', 'grenoble-1968',
       'tokyo-1964', 'innsbruck-1964', 'rome-1960', 'squaw-valley-1960',
       'melbourne-1956', 'cortina-d-ampezzo-1956', 'helsinki-1952',
       'oslo-1952', 'london-1948', 'st-moritz-1948', 'berlin-1936',
       'garmisch-partenkirchen-1936', 'los-angeles-1932',
       'lake-placid-1932', 'amsterdam-1928', 'st-moritz-1928',
       'paris-1924', 'chamonix-1924', 'antwerp-1920', 'stockholm-1912',
       'london-1908', 'st-louis-1904', 'paris-1900', 'athens-1896'],
      dtype=object)

In [30]:
def extract_year(slug_game):
    parts = slug_game.split("-")
    
    year = parts[-1]
    host = " ".join(parts[:-1])    
    
    if year.isdigit():
        return int(year), host
    return None, None


medals_df[['year', 'host']] = medals_df['slug_game'].apply(lambda x: pd.Series(extract_year(x)))

medals_df = medals_df[medals_df["year"] >= 1916]
medals_df_filtered = medals_df.drop("slug_game", axis=1)


medals_df_filtered

      discipline_title event_gender medal_type   country_name  year     host
0              Curling        Mixed       GOLD          Italy  2022  beijing
1              Curling        Mixed       GOLD          Italy  2022  beijing
2              Curling        Mixed     SILVER         Norway  2022  beijing
3              Curling        Mixed     SILVER         Norway  2022  beijing
4              Curling        Mixed     BRONZE         Sweden  2022  beijing
...                ...          ...        ...            ...   ...      ...
20318   Figure skating        Mixed       GOLD        Finland  1920  antwerp
20319   Figure skating        Mixed     SILVER         Norway  1920  antwerp
20320   Figure skating        Mixed     SILVER         Norway  1920  antwerp
20321   Figure skating        Mixed     BRONZE  Great Britain  1920  antwerp
20322   Figure skating        Mixed     BRONZE  Great Britain  1920  antwerp

[20323 rows x 6 columns]

In [7]:
olympics_np = list(medals_df_filtered["year"].unique())
olympics_year = [int(x) for x in olympics_np]

countries_np = list(medals_df_filtered["host"].unique())
countries_year = [str(x) for x in countries_np]

medal = ["GOLD", "SILVER", "BRONZE"]

for y in olympics_year:
    for c in countries_year:
        for m in medal:
            print(f" {c} won {medals_df_filtered.medal_type.value_counts().get({m},0)} medals in {y}")

TypeError: Passing a set as an indexer is not supported. Use a list instead.

In [ ]:
hosts_df[hosts_df['game_season'] == 'Summer'].head()

In [ ]:
def create_country_column(slug):
    for i, host_slug in enumerate(hosts_df['game_slug']):
        if slug == host_slug:
            return hosts_df['game_location'].iloc[i]

def create_year_column(slug):
    for i, host_slug in enumerate(hosts_df['game_slug']):
        if slug == host_slug:
            return hosts_df['game_year'].iloc[i]

In [ ]:
df = medals_df.copy()

In [ ]:
df['host_country'] = medals_df['slug_game'].apply(create_country_column)
df['game_year'] = medals_df['slug_game'].apply(create_year_column)

In [ ]:
df.head()

In [ ]:
df.isnull().values.any()

In [ ]:
df.drop('slug_game', axis=1, inplace=True)
df.head()

In [ ]:
paris_df.head()

In [ ]:
paris_df.columns